html{
    height: 100%;
}

body{
    background-color: #ebe6d2;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
     font-family: "Rockwell";
}

.container{
    flex: 1;
    
}
.logo{
    width: 80px;
    height: auto;
}
.nav-link{
    color: #364820;
    font-family: "Rockwell";
}

/*footer*/


.f-info-links a{
    text-decoration: none;
    color: #364820;
}
.f-info-links a:hover{
    text-decoration: underline;
}
.f-info{
    height:10rem;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
    flex-direction: column;
    background-color: #d2cbaf;
    
}
/* cards */

.card{
   
    border: none !important;
    box-shadow: none !important;
    background-color: #ebe6d2;
     padding: 0.5rem;
}

.card-img-top{
    width: 100%;
    height: 16rem;
    object-fit: cover;
    border-radius: 1rem;
}
.card-body{
    padding:0.5rem;
}
.card-text{
   font-family: "Rockwell";
  color: #364820;
  font-size: medium;
}
.card-title{
    font-weight: 300;
    font-family: "Rockwell";
  color: #364820;
  
}
.btn {
   
    background-color:  #65873c; 
    font-size: medium;
    color:rgb(50, 80, 41);
}
.btn:hover {
    background-color: #608038; 
}
.listing-link{
    text-decoration: none;
}

/* new list */
.page-title{
    font-size: 2rem;
    font-weight: 500;
    color: #323c26; 
    text-align: center;
    position: relative;

    top: 20px;
   
}

.page-subtitle{
    text-align: center;
    color: #6c757d;
    position: relative;
    top:25px;
   
}
.form-label{
    display: block;
    margin-bottom: 0;
    font-weight: 500;
    color: #364820;
}

::placeholder{
    font-family: Arial, Helvetica, sans-serif;
    color: #6d6161;
    font-weight: 50;
    font-size: 0.95rem;
}

    


.new-stay-page{
    background-color: #b8c7a5;
}

.form-control{
    color: rgba(0, 0, 0, 0.5);
}
.edit-page-body{
   background-color: #b8c7a5;

}


/* show */
.show-card{
    width: 30rem;
    margin: 0 auto;
}

.show-img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 1rem;

}
.show-body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.show-btn{
    background-color: #65873c;
    border: none;
    color: #323c26;
    font-size: 1rem;
    font-weight: 500;
    padding: 0.6rem 1.5rem;
    border-radius: 10px;
}

.show-btn:hover{
    background-color: #4f6b2f;
    color: white;
}
.listing-card{
    border: solid rgb(183, 170, 170);
    border-radius: 20px;
}